*{
    margin: 0; padding: 0;
}

body {
    height: 100vh;
    background: rgb(209, 156, 107);
    /* IF I WANT AN IMAGE ON BACKGROUND
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: 100px 100px;
    background-size:cover; */
    margin:0 0;
    overflow: hidden;
}

.logo{
    width: 400px;
    display: block;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    align-items:center;
}

.container{
    height: 100%;
    margin-bottom: 25%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    flex-wrap:wrap; /*define se itens precisam estar na mesma linha, pu podem ser quebrados em mais linhas*/
}

/*CARD ONE*/

.cardOne{
    perspective: 1000px;
    position: relative;
    margin: 200px; 
    margin-bottom: 50em;
}

.cardOne img{
    width: 200px;
    height: 290px;
}

.cardOne .front{
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.5s linear;
}

.cardOne .back{
    position:relative;
    transform: rotateY(0);
    backface-visibility: hidden;
    transition: transform 0.5s linear;
}

.cardOne:hover .front {
    transform: rotateY(0);
    cursor: pointer;
}

.cardOne:hover .back {
    transform: rotateY(-180deg);
    cursor: pointer;
}

/*CARD TWO*/

.cardTwo{
    perspective: 1000px;
    position: relative;
    margin: 200px; 
    margin-bottom: 50em;
}

.cardTwo img{
    width: 200px;
    height: 290px;
}

.cardTwo .front{
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.5s linear;
}

.cardTwo .back{
    position:relative;
    transform: rotateY(0);
    backface-visibility: hidden;
    transition: transform 0.5s linear;
}

.cardTwo:hover .front {
    transform: rotateY(0);
    cursor: pointer;
}

.cardTwo:hover .back {
    transform: rotateY(-180deg);
    cursor: pointer;
}








